<component name="ArtifactManager">
  <artifact type="war" name="SpringJDBCTemplateDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringJDBCTemplateDemo.war">
      <element id="artifact" artifact-name="SpringJDBCTemplateDemo:war exploded" />
    </root>
  </artifact>
</component>